---
import '../styles/global.css';

import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "About Me";

const identity = {
	firstName: "Juan David",
	lastName: "Medina Tobon",
	country: "Colombia",
	occupation: "Electrical Engineer",
	hobbies: ["game development", "swimming", "cooking"],
};

const skills = ["Altium PCB Design", "C", "Python", "Circuit design", "Academic writing and publication"];

const skillColor = "black";
const fontWeight = "bold";
const textCase = "none";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
		<style define:vars={{skillColor, fontWeight, textCase}}>
			h1 {
				color: purple;
				font-size: 4rem;
			}
			.skill {
				color: var(--skillColor);
				font-weight: var(--fontWeight);
				text-transform: var(--textCase);
			}
		</style>
	</head>
	<body>
		<BaseLayout pageTitle={pageTitle}>
			<p>I am currently an electrical engineer working on software and hardware design of IoT devices.</p>
			<p>As someone who grew up with a type 1 diabetic mother, I have lived the benefits that connected devices bring to our lives and hardships.</p>
			
			<p>I have experience using Altium for schematics creation, and PCB routing and manufacturing. I have also extensively prototyped by assembling boards myself for testing and validation. I have programmed and debugged microcontrollers using C, either through bare-metal or RTOS approaches, integrating a variety of sensors with different bus protocols.</p>
			<p>The devices I have built have been validated in real-world conditions outside of labs for long periods of time. You can check out my projects on the projects tab or by clicking <a href="/">here</a>.</p>
			</ul>
			<p>My skills are:</p>
			<ul>
				{skills.map((skill) => <li class="skill">{skill}</li>)}
			</ul>
		</BaseLayout>
	</body>
</html>
