---
import Social from './Social.astro';

const platform = "linkedin";
const username = "jdmedinatobon";
---

<footer>
    <p>Contact me at: jdmedinatobon@gmail.com</p>
    <div>
        <Social platform="linkedin" username="in/jdmedinatobon"/>
        <Social platform="github" username="jdmedinatobon"/>
    </div>
</footer>

<style>
    p {
        margin-top: 1rem;
    }
    footer > div{
        display: flex;
        gap: 1rem;
        margin-top: 1rem;   
    }
</style>